:root {

    --white-color: #FFFFFF;
    --white-color-2: #ECECEC;

    --grey-color: #666666;
    --grey-color-2: #CACACA;
    --grey-color-3: #414141;
    --grey-color-4: #333333;
    --grey-color-5: #7C7C7C;

    --black-color: #000000;

    --orange-color: #FF9900;
    --orange-color-2: #E1670E;
    
    --yellow-color: #FFB84D;

}